<h1>This is your messages</h1>
<div class="mb-3">
 
    <% @recei.where(uname: params[:uname]).each do |text| %> 
    <div class="me-4 card card-body" >
          <%= text.content %>
   </div>
    <% end %>

    
 
</div>
    
    

